<%= live_component TictactoeWeb.Game.GameComponent, id: :board, board_state: @board_state %>
<%= live_component TictactoeWeb.Game.GameComponent, id: :board_2, board_state: @board_state %>
<%= live_component TictactoeWeb.Game.GameComponent, id: :board_3, board_state: @board_state %>
